*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	//this defines what 1rem is
	font-size: 62.5%; /* setting this as a "blanket" rule for usage of 'rem' across site. 
	/* 'rem' is relative to root DOM font-size. Therefore, setting 10px as html font size means everywhere else, 1rem = 10px; em is relative to root DOM font size, AND parent element. */
}

body {
	box-sizing: border-box;
}